#wrapper {
	background-color: #E0FFFF;
    width:500px;
    height:500px;
    margin:auto;
    margin-top:50px;
    -webkit-border-radius:10%;
    position:relative;
    z-index: -5
}

#triangule {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 180px solid transparent;
	border-right: 180px solid transparent;
	border-top: 410px solid #E18A0F;
	top:80px;
	left: 70px
}

#crust {
	position: absolute;
	width: 360px;
	height: 50px;
	top: 50px;
	left: 70px;
	background-color: #CE3409;
	border-radius: 30px 30px 20px 20px; 
}

.eyebrows {
	position: absolute;
	width: 50px;
	height: 10px;
	border-top: 2px solid black;
	top: 110px;
	border-radius: 50%;
	z-index: 1;
}

#l-eyebr {
	left: 160px;
	transform: rotate(-5deg);
}

#r-eyebr {
	right: 160px;
	top: 100px;
	transform: rotate(5deg);
}

.glasses {
	position: absolute;
	width: 170px;
	height: 90px;
	background-color: black;
	border-radius: 10px 10px 80px 80px;
	top: 120px;
	z-index: 1;
}

#l-glass{
	left: 90px
}

#r-glass {
	right: 90px;
}

#smile {
	position: absolute;
	width: 60px;
	height: 10px;
	border-bottom: 2px solid black;
	top: 245px;
	left: 210px;
	border-radius: 50%;
	transform: rotate(-5deg);
}

.peperoni {
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #B30300;
}

#p-one{
	top: 100px;
	left: 70px;
}

#erase-p-one{
	position: absolute;
	width: 120px;
	height: 50px;
	background-color: #E0FFFF;
	top: 150px;
	left: 23px;
	transform: rotate(67deg);
}

#p-two {
	top: 300px;
	left: 120px;
}

#erase-p-two{
	position: absolute;
	width: 140px;
	height: 80px;
	background-color: #E0FFFF;
	top: 330px;
	left: 83px;
	transform: rotate(66deg);
}

#p-three {
	top: 250px;
	left: 250px;
}

#erase-p-three{
	position: absolute;
	width: 140px;
	height: 80px;
	background-color: #E0FFFF;
	top: 300px;
	left: 290px;
	transform: rotate(-66deg);
}

.reflexes {
	position: absolute;
	top: 120px;
	z-index: 2
}

#l-reflex {
	left: 140px;
}

#l-one {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 0px 0px 50% 50%;
}

#l-two {
	position: absolute;
	width: 24px;
	height: 10px;
	background-color: white;
	transform: skew(-20deg);
	border-radius: 0 0 5px 0;
	top: 45px;
	left: 13px;
}

#l-three {
	position: absolute;
	width: 25px;
	height: 10px;
	background-color: white;
	/*border: 1px solid black;*/
	border-radius: 10px 0 0 10px;
	top: 52px;
	left: 10px;
}

#l-four {
	position: absolute;
	width: 10px;
	height: 15px;
	background-color:black;
	top: 50px;
	left: 34px;
	border-radius: 50%;
}

#l-five {
	position: absolute;
	width: 22px;
	height: 30px;
	background-color: white;
	top: 60px;
	left: 18px;
	transform: skew(20deg);
}


#r-reflex {
	left: 295px;
}

#r-one {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 0px 0px 50% 50%;
}

#r-two {
	position: absolute;
	width: 24px;
	height: 10px;
	background-color: white;
	transform: skew(-20deg);
	border-radius: 0 0 5px 0;
	top: 45px;
	left: 13px;
}

#r-three {
	position: absolute;
	width: 25px;
	height: 10px;
	background-color: white;
	/*border: 1px solid black;*/
	border-radius: 10px 0 0 10px;
	top: 52px;
	left: 10px;
}

#r-four {
	position: absolute;
	width: 10px;
	height: 15px;
	background-color:black;
	top: 50px;
	left: 34px;
	border-radius: 50%;
}

#r-five {
	position: absolute;
	width: 22px;
	height: 30px;
	background-color: white;
	top: 60px;
	left: 18px;
	transform: skew(20deg);
}

.legs {
	position: absolute;
	width: 8px;
	height: 75px;
	background-color: #F8D073;
	top: 425px;
	z-index: -1
}

#l-leg{
	left: 220px;
}

#r-leg{
	right: 220px;
}

.arms {
	position: absolute;
	height: 8px;
	width: 155px;
	background-color: #F8D073;
	top: 240px;
	z-index: -1
}

#l-arm{
	left: -1px;
	transform: rotate(10deg);
	/*z-index: -1*/
}

#r-arm{
	right: -1px;
	transform: rotate(-10deg);
}